body{
    background-image:url(fondo.jpeg) ;
    background-size: cover;
}
.nav{
    display: flex;
    flex-wrap: wrap; 
    padding-left: 0; 
    margin-bottom: 0; 
    --bs-nav-link-padding-x: 1rem; 
    --bs-nav-link-padding-y: 0.7rem; 
    --bs-nav-link-font-weight: ; 
    --bs-nav-link-color: var(--bs-link-color); 
    --bs-nav-link-hover-color: var(--bs-link-hover-color); 
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
   
    
}
.contenedor{
    height: 100vh;
}
